.container {
  max-width: 500px;
  margin: auto;
}

.card {
  border-radius: 12px;
}

.invalid-feedback {
  font-size: 0.875rem;
  color: #dc3545;
}

.mat-card-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.mat-card-content {
  font-size: 1rem;
}
